header {
    color: #333; 
    background-color: #ffe599; 
    font-family: "Berlin Sans FB";
    letter-spacing: 2px;
    padding: 10px;
}

/* nav */
nav {
    display: flex; 
    justify-content: flex-end; 
    background-color: azure;
}

    nav ul {
        list-style-type: none;
        padding: 0;
        overflow: hidden;
    }

    nav li {
        float: left;
        margin-right: 15px; 
    }

        nav li a {
            display: block;
            padding: 10px;
            background-color: #4CAF50; 
            color: white;
            text-decoration: none;
            text-align: center;
            border-radius: 5px; 
        }

            nav li a:hover {
                background-color: #45a049; 
            }

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #ffd700; 
    width: 100%;
    text-align: center;
    padding: 10px;
}

main {
    display: flex; 
}

    main section {
        border-left: 6px solid #ffd700;
        background-color: #ffe599;
        border-radius: 20px;
        padding: 2%;
        width: 40%;
        margin: 30px 5px; 
        float: left;
    }
        main section h2 {
            font-family: Candara;
            font-size: larger;
        }

#teine {
    position: relative; 
    left: 50%; 
    transform: translateX(-50%); 
}
