/* Header */
header {
    color: white;
    background-color: darkkhaki;
    font-family: "Berlin Sans FB", sans-serif;
    letter-spacing: 0.1em;
    padding: 20px;
}

/* Navigation */
nav {
    float: left;
    margin: 3px;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    padding: 10px;
    margin: 5px;
    background-color: aliceblue;
    text-decoration: none;
    text-align: center;
    color: black;
    border-radius: 8px;
}

nav li a:hover {
    background-color: black;
    color: white;
}

/* Clearfix for Navigation */
nav::after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: gold;
    width: 100%;
    padding: 10px;
    text-align: center;
}

/* Main Section */
main section {
    border: 6px solid gold;
    background-color: darkkhaki;
    border-radius: 20px;
    padding: 2%;
    width: 60%;
    margin: 30px;
}

#teine {
    position: absolute;
    left: 550px;
    top: 120px;
}
